@use 'mixins' as *;

.account-container {
    width: 100%;
    height: auto;
    min-height: 100vh;

    display: grid;
    place-items: center;

    .account-wrapper {
        position: relative;

        width: 100%;
        height: 100%;

        background: #000;

        display: flex;
        align-content: center;
        justify-content: center;

        overflow: hidden;

        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;

            flex-direction: column;
        }

        .sidebar-container {
            width: 20%;
            height: 100%;

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;

                gap: 4vh;
            }

            // debug
            background: #090a0f;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            .sidebar-wrapper {
                width: 100%;
                height: 100%;

                position: relative;

                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                gap: 3vh;

                @media screen and (max-width: 960px) {
                    padding-bottom: 5vh;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;

                    height: 1px;
                    width: 80%;

                    background-color: #fff;
                }

                .sidebar-top {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 3vh;
                    flex-direction: column;

                    padding: 2rem 1rem;

                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 80%;
                        height: 1px;

                        background: #dfdfdf;
                    }

                    .account-profile {
                        width: 100px;
                        height: 100px;

                        img,
                        svg {
                            border-radius: 50%;
                            @include box(100%);

                            object-fit: cover;
                        }

                        @media screen and (max-width: 1024px) {
                            width: 70px;
                            height: 70px;
                        }
                        @media screen and (max-width: 768px) {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .sidebar-sections {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2vh;

                    .section-wrapper {
                        width: 100%;

                        padding: 1rem 2rem;
                        cursor: pointer;

                        text-decoration: none;
                        color: unset;

                        &:hover .section {
                            transform: translateX(2vw);
                        }

                        .section {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 1vw;

                            transition: transform 0.5s
                                cubic-bezier(0.57, 2.04, 0.02, 0.07);

                            @media screen and (max-width: 960px) {
                                gap: 2vw;
                            }
                        }
                    }
                }
            }
            .sidebar-logout {
                width: 100%;

                margin: 4vh 0;

                .logout-wrapper {
                    all: unset;

                    cursor: pointer;

                    text-decoration: none;
                    color: #e20338;

                    width: 100%;
                    display: flex;
                    gap: 0.7vw;
                    align-items: center;
                    justify-content: center;

                    text-transform: uppercase;

                    transition: transform 200ms ease-out;

                    @media screen and (max-width: 960px) {
                        gap: 1.5vw;
                    }

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
                &:hover .logout-wrapper {
                    transform: translateX(-0.75vw);
                }
                @media screen and (max-width: 768px) {
                    &:hover .logout-wrapper {
                        transform: translateX(-2vw);
                    }
                }
            }
        }
        .content-container {
            width: 80%;
            height: 100%;

            // debug
            background: var(--sixty-precent);

            position: relative;

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
            }

            .columns-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                gap: 3vh;
                padding: 2rem 1rem;
            }

            .column-container {
                // min-height: 500px;
                width: 100%;

                border-radius: 1rem;
                transition: transform 0.3s ease-in-out;

                overflow: hidden;

                &:hover {
                    transform: translateY(-1vh);
                }
                .column {
                    display: flex;
                    align-content: center;
                    justify-content: flex-start;
                    flex-direction: column;

                    width: 100%;
                    height: 100%;

                    padding: 2rem;

                    border-radius: 1rem;

                    background-color: var(--thirty-precent);

                    gap: 3vh;

                    @include no-user-select;

                    @media screen and (max-width: 768px) {
                        padding: 1.5rem 1rem;
                    }

                    .column-title {
                        display: flex;
                        align-items: center;
                        gap: 0.7vw;

                        @media screen and (max-width: 960px) {
                            gap: 1vw;
                        }

                        .icon {
                            padding: 15px;

                            border-radius: 12px;

                            box-shadow: 00px 0px 15px 0 #fff;

                            &.twitter {
                                background-color: #1da1f2;
                            }
                            &.wallet {
                                background-color: var(--sixty-precent);
                            }
                        }

                        .holder {
                            overflow: hidden;

                            padding: 0 5px;

                            div {
                                transform: translateX(-200%);

                                transition: transform 0.75s;
                                transition-timing-function: cubic-bezier(
                                    0.52,
                                    1.64,
                                    0,
                                    0.78
                                );
                            }
                        }

                        .icon:hover + .holder div {
                            transform: translateX(0%);
                        }
                    }
                    .bottom-columns {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;

                        margin-top: 3vh;
                        .bottom-column {
                            margin-top: 2vh;

                            width: fit-content;

                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 0.5vw;

                            cursor: pointer;

                            transition: transform 0.2s ease;

                            &:hover {
                                transform: translateX(0.75vw);
                            }
                            @media screen and (max-width: 768px) {
                                &:hover {
                                    transform: translateX(1.5vw);
                                }
                            }

                            .holder {
                                text-transform: uppercase;
                            }
                            &.disconnect-column {
                                color: #e20338;
                            }
                        }
                    }

                    &.wallet-container {
                        .wallet-title {
                            display: flex;
                            align-items: center;
                            gap: 0.7vw;

                            @media screen and (max-width: 960px) {
                                gap: 1vw;
                            }

                            .icon {
                                padding: 15px;

                                border-radius: 12px;

                                box-shadow: 00px 0px 15px -4px #fff;
                            }

                            .holder {
                                overflow: hidden;

                                div {
                                    transform: translateX(-200%);

                                    transition: transform 0.3s ease-in-out;
                                }
                            }

                            .icon:hover + .holder div {
                                transform: translateX(0%);
                            }
                        }

                        .wallet-wrapper {
                            flex: 1;

                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            gap: 2vh;

                            .wrapper-column {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5vw;

                                &:hover {
                                    &::before {
                                        width: 70px;

                                        @media screen and (max-width: 960px) {
                                            width: 30px;
                                        }
                                    }
                                }

                                &::before {
                                    content: '';
                                    height: 1px;
                                    width: 50px;

                                    background: var(--ten-percent);

                                    position: relative;
                                    left: 0px;

                                    transition: width 0.25s ease-in-out;

                                    @media screen and (max-width: 960px) {
                                        width: 20px;
                                    }
                                }

                                @media screen and (max-width: 960px) {
                                    gap: 1vw;
                                }

                                .column-holder {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 0.25vw;

                                    opacity: 0.7;

                                    .holder {
                                        text-transform: capitalize;
                                    }
                                }

                                .column-data {
                                    &.wallet-status {
                                        font-family: 'Executionist';
                                        text-transform: uppercase;
                                    }

                                    &.wallet_id {
                                        padding: 5px 10px;

                                        border: 1px solid rgb(21, 27, 34);
                                        border-radius: 16px;

                                        position: relative;

                                        overflow: hidden;

                                        &::before {
                                            content: 'Click To Show';
                                            position: absolute;
                                            inset: 0;
                                            width: 100%;
                                            height: 100%;

                                            cursor: pointer;

                                            border-radius: 16px;
                                            display: grid;
                                            place-items: center;

                                            backdrop-filter: blur(7px);

                                            transition: opacity 0.25s
                                                ease-in-out;
                                        }

                                        &:focus::before {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.twitter-container {
                        gap: 0;

                        .twitter-wrapper {
                            width: 100%;
                            flex: 1;

                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-direction: column;
                            gap: 4vh;

                            .twitter-profile {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                flex-direction: column;
                                gap: 2vh;

                                width: 100%;

                                .profile-img {
                                    width: 100px;
                                    height: 100px;

                                    img,
                                    svg {
                                        border-radius: 50%;
                                        @include box(100%);

                                        object-fit: cover;
                                    }
                                }

                                .profile-name {
                                    position: relative;

                                    display: flex;
                                    align-items: flex-start;

                                    width: 100%;

                                    &::before,
                                    &::after {
                                        margin-top: 10px;
                                        content: '';
                                        width: 100%;
                                        height: 2px;
                                        background-color: #fff;
                                    }

                                    .profile-name-wrapper {
                                        padding: 0 10px;
                                        white-space: nowrap;

                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        flex-direction: column;
                                        gap: 0.5vh;

                                        text-transform: capitalize;

                                        .profile-name-username {
                                            color: #71767b;
                                        }
                                    }
                                }
                                .profile-description {
                                    text-align: center;
                                }
                            }

                            .twitter-status {
                                width: 100%;

                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                flex-wrap: wrap;

                                .status {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;

                                    gap: 1vh;
                                }
                            }

                            .connect-twitter {
                                position: absolute;
                                inset: 0;

                                display: grid;
                                place-items: center;

                                width: 100%;
                                height: 100%;

                                z-index: 2;

                                backdrop-filter: blur(10px);

                                a {
                                    text-decoration: none;
                                    color: inherit;
                                }

                                .connect-wrapper {
                                    cursor: pointer;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 1vw;

                                    background: #1da1f2;
                                    padding: 10px 15px;
                                    border-radius: 20px;

                                    text-transform: uppercase;
                                    transition: transform 200ms ease-out;

                                    @media screen and (max-width: 960px) {
                                        gap: 2vw;
                                    }

                                    &:hover {
                                        transform: translateX(1vw);
                                    }
                                    @media screen and (max-width: 768px) {
                                        &:hover {
                                            transform: translateX(2vw);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .change-wallet-container {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;

            display: grid;
            place-items: center;

            backdrop-filter: blur(10px);

            .change-wallet-wrapper {
                display: flex;
                align-content: center;
                justify-content: flex-start;
                flex-direction: column;
                gap: 5vh;

                width: 80%;
                height: 80%;

                background-color: var(--sixty-precent);

                padding: 2rem;

                border-radius: 1rem;

                position: relative;

                @media screen and (max-width: 960px) {
                    width: 85%;
                    height: 75%;
                }
                @media screen and (max-width: 425px) {
                    width: 90%;
                    height: 80%;
                }
                .change-wallet-title {
                    text-align: center;
                    text-transform: uppercase;

                    font-family: 'Executionist';
                }

                .close-btn {
                    position: absolute;
                    top: 20px;
                    right: 20px;

                    cursor: pointer;

                    @media screen and (max-width: 960px) {
                        top: 12px;
                        right: 12px;
                    }

                    svg {
                        width: 45px;
                        height: 45px;

                        @media screen and (max-width: 960px) {
                            width: 30px;
                            height: 30px;
                        }

                        transition: transform 0.7s ease-in-out;
                    }

                    &:hover {
                        svg {
                            transform: rotate(-360deg);
                        }
                    }
                }

                .change-wallet-inps {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 5vh;

                    height: 100%;
                    width: 100%;

                    .change-wallet-inp {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 1vh;

                        width: 100%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 0.5vw;

                            @media screen and (max-width: 960px) {
                                gap: 0.75vw;
                            }
                        }

                        input {
                            width: 50%;
                            position: relative;

                            padding: 5px;

                            // reset
                            background: none;
                            outline: none;
                            border: none;

                            font: inherit;
                            // end reset

                            border-bottom: 1px solid;

                            @media screen and (max-width: 960px) {
                                width: 100%;
                            }
                        }
                    }
                }
                .change-btn {
                    .arrow-button {
                        // reset
                        cursor: pointer;
                        outline: none;
                        border: none;
                        background: none;
                        font-family: inherit;

                        width: 100%;
                        // end reset
                        padding: 1.5vh 1.6vw;
                        gap: 0.5vw;
                        color: white;
                        border: 2px solid;
                        background: none;
                        border-color: var(--ten-percent);
                        border-radius: 3px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .label {
                            transform: translateX(-10%);
                            transition: transform 0.5s
                                cubic-bezier(0.86, 0, 0.07, 1);
                        }

                        &:hover {
                            .icon-arrow.after {
                                transform-origin: center;
                                animation: bell-shake 0.5s steps(5);
                            }

                            @keyframes bell-shake {
                                0% {
                                    transform: rotate(0deg);
                                }

                                25% {
                                    transform: rotate(-25deg);
                                }
                                50% {
                                    transform: rotate(25deg);
                                }

                                75% {
                                    transform: rotate(-25deg);
                                }

                                100% {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                        &:focus {
                            .label {
                                transform: translateX(10%);

                                @media screen and (max-width: 900px) {
                                    transform: translateX(13%);
                                }
                            }

                            .icon-arrow.after {
                                opacity: 0;
                                transform: translateX(50%) scaleX(0.5);
                            }

                            .icon-arrow.before {
                                opacity: 1;
                                transform: translateX(50%) scaleX(1);
                            }
                        }

                        .icon-arrow {
                            backface-visibility: hidden;
                            transform: translateZ(0);
                            display: grid;
                            transition: transform 0.5s
                                    cubic-bezier(0.86, 0, 0.07, 1),
                                opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1);
                            &.before {
                                opacity: 0;

                                transform-origin: left center;
                                transform: translateX(-50%) scaleX(0.5);
                            }

                            &.after {
                                transform-origin: right center;
                            }
                        }
                    }
                }
            }
            .loading-wrapper {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;

                display: grid;
                place-items: center;

                backdrop-filter: blur(10px);

                text-transform: capitalize;

                .show-status {
                    width: 80%;
                    height: 80%;

                    background-color: var(--sixty-precent);

                    padding: 2rem;

                    border-radius: 1rem;

                    @media screen and (max-width: 960px) {
                        width: 85%;
                        height: 75%;
                    }
                    @media screen and (max-width: 425px) {
                        width: 90%;
                        height: 80%;
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5vh;
                }
            }
        }
    }

    .animation {
        overflow: hidden;
        &.boxShadow {
            animation: boxShadow 1s ease-in-out both;
        }
        .transform {
            animation: FadeIn 1s ease-in-out both;
        }

        @keyframes FadeIn {
            from {
                transform: translateY(200%);
            }
            to {
                transform: translateY(0);
            }
        }
        @keyframes boxShadow {
            from {
                box-shadow: none;
            }
            to {
                box-shadow: 0 5px 40px #000000;
            }
        }
    }
}
