@use 'mixins' as *;
.account-container {
    width: 100%;
    height: auto;
    min-height: 100vh;

    display: grid;
    place-items: center;

    .account-wrapper {
        width: 80%;
        height: 80%;

        border-radius: 20px;

        background: #000;

        display: flex;
        align-content: center;
        justify-content: center;

        border-radius: 7px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;

            flex-direction: column-reverse;
        }

        .sidebar-container {
            width: 20%;
            height: 100%;

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
            }

            // debug
            background: #090a0f;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            .sidebar-wrapper {
                width: 100%;
                height: 80%;

                .sidebar-top {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 3vh;
                    flex-direction: column;

                    padding: 2rem 1rem;

                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 80%;
                        height: 1px;

                        background: #dfdfdf;
                    }

                    .account-profile {
                        width: 100px;
                        height: 100px;

                        border-radius: 50%;

                        background-image: url('https://picsum.photos/100/100');
                        background-repeat: no-repeat;
                        background-size: cover;

                        @media screen and (max-width: 1024px) {
                            width: 70px;
                            height: 70px;
                        }
                        @media screen and (max-width: 768px) {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
        .content-container {
            width: 80%;
            height: 100%;

            // debug
            background: var(--sixty-precent);

            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5vh;

            padding: 2rem 1rem;

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
            }

            .column {
                width: 100%;

                padding: 2rem 1rem;

                box-shadow: 0 5px 40px #000000;
                border-radius: 1rem;

                display: flex;
                align-content: center;
                justify-content: flex-start;
                flex-direction: column;

                gap: 4vh;

                @include no-user-select;

                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: translateY(-1vh);
                }

                &.wallet-container {
                    background-color: var(--thirty-precent);
                    .wallet-title {
                        display: flex;
                        gap: 0.5vw;

                        @media screen and (max-width: 960px) {
                            gap: 1vw;
                        }
                    }

                    .wallet-wrapper {
                        flex: 1;

                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 2vh;

                        .wrapper-column {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5vw;

                            &:hover {
                                &::before {
                                    width: 70px;
                                }
                            }

                            &::before {
                                content: '';
                                height: 1px;
                                width: 50px;

                                background: var(--ten-percent);

                                position: relative;
                                left: 0px;

                                transition: width 0.25s ease-in-out;
                            }

                            @media screen and (max-width: 960px) {
                                gap: 1vw;
                            }

                            .column-holder {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.25vw;

                                opacity: 0.7;

                                .holder {
                                    text-transform: capitalize;
                                }
                            }

                            .column-data {
                                &.linked {
                                    color: #00dc7d;
                                    text-transform: uppercase;
                                }

                                &.wallet_id {
                                    padding: 5px 10px;

                                    border: 1px solid rgb(21, 27, 34);
                                    border-radius: 16px;

                                    position: relative;

                                    overflow: hidden;

                                    &::before {
                                        content: 'Click To Show';
                                        position: absolute;
                                        inset: 0;
                                        width: 100%;
                                        height: 100%;

                                        cursor: pointer;

                                        border-radius: 16px;
                                        display: grid;
                                        place-items: center;

                                        backdrop-filter: blur(7px);

                                        transition: opacity 0.25s ease-in-out;
                                    }

                                    &:focus::before {
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }
                    .disconnect-wallet {
                        margin-top: 2vh;

                        width: fit-content;

                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.25vw;

                        cursor: pointer;

                        transition: transform 0.2s ease;
                        color: #e20338;

                        &:hover {
                            transform: translateX(0.5vw);
                        }
                        @media screen and (max-width: 768px) {
                            &:hover {
                                transform: translateX(1.5vw);
                            }
                        }

                        .holder {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
