.hero-container {
    width: 100%;

    min-height: 100vh;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;

    padding: 10vh 8vw;

    position: relative;
    overflow: hidden;

    @function multiple-box-shadow($n) {
        $value: '#{random(2000)}px #{random(2000)}px #FFF';
        @for $i from 2 through $n {
            $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
        }

        @return unquote($value);
    }

    $shadows-small: multiple-box-shadow(700);
    $shadows-medium: multiple-box-shadow(200);
    $shadows-big: multiple-box-shadow(100);

    .stars {
        background: radial-gradient(
            ellipse at bottom,
            #1b2735 0%,
            #090a0f 100%
        );
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 1;

        #stars {
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
            animation: animStar 80s linear infinite;
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 2000px;
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
        }

        #stars2 {
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
            animation: animStar 130s linear infinite;
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 2000px;
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
        }

        #stars3 {
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-big;
            animation: animStar 180s linear infinite;
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 2000px;
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-big;
        }

        @keyframes animStar {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(-2000px);
            }
        }
    }

    .hero-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 3vh;

        z-index: 2;

        .hero-img-wrapper {
            width: 500px;
            height: 500px;
            border-radius: 50%;

            box-shadow: 0px 0px 20px 5px #000000;

            background-position: center;
            background-size: cover;
            background-image: url('https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=cb647d991d8897cc8a81d2c33c4406d5');

            @media screen and (max-width: 768px) {
                width: 300px;
                height: 300px;
            }
        }

        .hero-text-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            text-align: center;

            overflow: hidden;

            .title_hero {
                mix-blend-mode: difference;

                opacity: 0;
                transform: translateY(115%);

                transition: opacity 0.7s 0.5s ease-in-out,
                    transform 0.7s 0.5s ease-in-out;

                transition-delay: 500ms;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    .owners-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        row-gap: 7vh;
        column-gap: 7vw;

        width: 100%;

        z-index: 4;

        .owner-card-container {
            transform: translate(1000px, -1000px);
            animation: owner-anime 900ms ease forwards;

            &:nth-child(2) {
                animation-delay: 400ms;
            }
            &:nth-child(3) {
                animation-delay: 740ms;
            }
        }

        @keyframes owner-anime {
            from {
                transform: translate(1000px, -1000px);
            }
            to {
                transform: translate(0, 0);
            }
        }
    }

    .circle {
        border: 30px solid white;
        border-radius: 50%;
        background-color: transparent;
        mix-blend-mode: difference;

        transition: transform 0.2s linear;

        position: absolute;
        z-index: 3;

        &.right {
            top: -50px;
            right: -50px;

            width: 200px;
            height: 200px;
            @media screen and (max-width: 768px) {
                width: 150px;
                height: 150px;
            }
            @media screen and (max-width: 500px) {
                width: 100px;
                height: 100px;
            }
        }
        &.left {
            bottom: -50px;
            left: -50px;

            width: 200px;
            height: 200px;
            @media screen and (max-width: 768px) {
                width: 150px;
                height: 150px;
            }
            @media screen and (max-width: 500px) {
                width: 100px;
                height: 100px;
            }
        }
    }

    .cross {
        transition: transform 0.2s linear;

        position: absolute;
        z-index: 3;

        display: grid;
        place-items: center;

        mix-blend-mode: difference;

        &.right {
            bottom: 50px;
            right: 50px;

            width: 200px;
            height: 200px;

            svg {
                transform: scale(2.3);
            }

            @media screen and (max-width: 768px) {
                width: 150px;
                height: 150px;

                bottom: 50px;
                right: 10px;

                svg {
                    transform: scale(1.5);
                }
            }
            @media screen and (max-width: 500px) {
                width: 100px;
                height: 100px;

                bottom: 50px;
                right: 10px;

                svg {
                    transform: scale(1);
                }
            }
        }
        &.left {
            top: 50px;
            left: 50px;

            width: 200px;
            height: 200px;
            svg {
                transform: scale(2);
            }
            @media screen and (max-width: 768px) {
                width: 150px;
                height: 150px;

                top: 50px;
                left: 10px;

                svg {
                    transform: scale(1.2);
                }
            }
            @media screen and (max-width: 768px) {
                width: 100px;
                height: 100px;

                top: 50px;
                left: 10px;

                svg {
                    transform: scale(0.8);
                }
            }
        }
    }

    .cursor {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: white;
        mix-blend-mode: difference;
        position: fixed;
        top: 0;
        left: 0;
        will-change: transform;
        pointer-events: none;

        z-index: 4;
    }
}
