.trustus-container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10vh;

    padding: 2rem 3rem;

    overflow: hidden;

    @media screen and (max-width: 768px) {
        padding: 1rem 2rem;
    }

    .trust-wrapper {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 7vh;
        column-gap: 3vw;

        flex-wrap: wrap;

        .trust-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 3vh;

            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: linear-gradient(to bottom right, #333333, #121212);
            box-shadow: 0px 20px 14px -8px #000000;

            @media screen and (max-width: 768px) {
                transform: translate(200%, 0);
            }
            transform: translate(0, 200%);

            &.active {
                animation: Fade-in 1s cubic-bezier(0.52, 1.64, 0, 0.78) forwards;
                @media screen and (max-width: 768px) {
                    animation: Fade-in-mobile 1s
                        cubic-bezier(0.52, 1.64, 0, 0.78) forwards;
                }
            }
        }
        .trust-item:nth-child(1) {
            animation-delay: 0.5s;
        }
        .trust-item:nth-child(2) {
            animation-delay: 0.75s;
        }
        .trust-item:nth-child(3) {
            animation-delay: 1s;
        }
    }
}

@keyframes Fade-in {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes Fade-in-mobile {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}
