.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 5vh;

    background-color: #040404;

    padding: 2rem 2rem 0 2rem;

    .footer-wrapper {
        position: relative;

        display: flex;
        flex-wrap: wrap;

        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        gap: 2vh;

        .footer-columns {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            flex: 1;

            gap: 2vh;
            .footer-column {
                display: flex;
                align-items: center;
                justify-content: center;

                gap: 0.75vw;

                .start {
                    margin-right: 0.5vw;

                    text-transform: capitalize;

                    font-family: 'Executionist';
                }

                .link {
                    opacity: 0.7;

                    position: relative;

                    letter-spacing: 2px;

                    text-transform: uppercase;
                    color: transparent;
                    -webkit-text-stroke: 1px #fff;

                    &::before {
                        content: attr(data-text);
                        position: absolute;

                        width: 0%;
                        color: #fff;

                        text-transform: uppercase;

                        border-right: 4px solid #fff;
                        transition: width 0.5s ease-in-out;

                        overflow: hidden;
                    }

                    &:hover::before {
                        width: 100%;

                        filter: drop-shadow(0 0 15px #fff);
                    }
                }
            }
        }
        .footer-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: 2vh;
            a {
                all: unset;
                cursor: pointer;
                img {
                    width: 100px;
                    height: 100px;

                    border-radius: 10px;
                }
            }

            .footer-description {
                opacity: 0.7;
            }
        }
    }

    .creator {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        text-align: center;

        padding: 1rem 0;

        position: relative;

        a {
            margin: 0 10px;
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;

            background-color: #fff;
            opacity: 0.7;

            height: 1px;
            width: 80%;
        }
    }
    a {
        all: unset;

        cursor: pointer;
    }
}
