<meta charset="UTF-8" />
<meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
/>


<meta content="#040404" name="theme-color" />
<meta content="Nightcurly" name="copyright" />
<meta content="Free NFT ..." name="description" />
<meta content="Nightcurly" name="apple-mobile-web-app-title" />


<meta content="en_US" name="og:locale" />
<meta content="640" name="og:image:height" />
<meta content="640" property="og:image:width" />
<meta content="https://nightcurly.art/s/img/00-Team.png" property="og:image" />
<meta content="Nightcurly Logo" property="og:image:alt" />
<meta content="image/png" property="og:image:type" />

<meta content="Nightcurly" property="og:title" />
<meta content="00 Team" property="og:site_name" />
<meta content="Free NFT ..." property="og:description" />
<meta content="https://nightcurly.art/" property="og:url" />
<meta content="website" property="og:type" />


<meta content="summary" name="twitter:card" />
<meta content="Nightcurly" name="twitter:title" />
<meta content="Free NFT ..." name="twitter:description" />
<meta content="https://nightcurly.art/s/img/00-Team.png" name="twitter:image" />
<meta content="@amirnightxix" name="twitter:creator" />
<meta content="@amirnightxix" name="twitter:site" />
